/node_modules
/public/hot
/public/storage
/public/img/users
/public/img/headmaster_signatures
/public/img/school_logos
/public/img/students
/storage/*.key
/storage/debugbar
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/public/js/chunks/*.js
/public/*.js
/public/js/app.js
/public/css/app.css
